{% block datalist_row %}
    {% set value = (form.vars.value) ? form.vars.value|json_encode : '' %}
    <div {{ vue_component('Datalist',{'formId': form.vars.id, 'formLabel': form.vars.label, 'initialValue': form.vars.value, 'formName': form.vars.full_name}) }}></div>
{% endblock %}