{% block datalist_row %}
    {% dump(form.vars.value) %}
    {% dump('ici') %}
    {% set value = (form.vars.value) ? form.vars.value|json_encode : '' %}
    <div class="v-datalist"
        data-vue-datalist
        data-id="{{ form.vars.id }}"
        data-label="{{ form.vars.label }}"
        data-value="{{ value }}"
        data-name={{ form.vars.full_name }}>
    </div>
{% endblock %}