{% extends 'base.html.twig' %}

{% block title %}Opérations{% endblock %}

{% block body %}
    <h1>Opération</h1>
    <a href="{{ path('transaction_new') }}" class="btn btn-primary" data-bs-toggle="modal-dynamic" data-bs-target="#clue-modal" role="button">Ajouter une opération</a>

    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="v-transactions" data-vue-transactionss></tbody>
    </table>
{% endblock %}
