{% extends 'base.html.twig' %}

{% block title %}Comptes{% endblock %}

{% block body %}
    <h1>Comptes</h1>
    <a href="{{ path('account_new') }}" class="btn btn-primary" data-bs-toggle="modal-dynamic" data-bs-target="#clue-modal" role="button">Ajouter un compte</a>

    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="v-accounts" data-vue-accounts></tbody>
    </table>
{% endblock %}
