@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}
.container-xs {
    max-width: 800px;
    margin: 0 auto;
}

.sticky-top.top-nav {
    top: 56px;
}
.btn.btn-sm.btn-outline-primary.dropdown-toggle::after  {
    content: '\F5D3';
    font-family: "bootstrap-icons";
    border-top: unset;
    border-right: unset;
    border-bottom: unset;
    border-left: unset;
    vertical-align: unset;
}
.navbar.sticky-top {
    z-index: 1040;
}